:root {
    --yellow: #dcca06;
    --blue: #3689CD;
    --blue1: #111762;
    /* #00CCCC; */
}

/* ---------------------------- Home page --------------------------------*/
#home-head-content {
  background-color: var(--blue)!important;
}
 
#home-head-content .navbar {
  background-color: var(--blue)!important;
}

#home-nav * {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--blue)!important;
}

#title {
  color: var(--yellow);
}

#banner {
  min-height: 500px;
}

.carousel-item img {
  max-height: 500px;
  object-fit: contain;
}

#tags img{
  height: 350px;
  width: 100%;
  object-fit: fill;
}


/* ---------------------------- Chat page --------------------------------*/

#content > div {
    height: 100%;
}

/*CHAT BOX*/
.chat-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border-color: var(--blue) !important;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  

  .messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 15px;
    border-radius: 50px;
    border-width: 1px;
  }

  .message-sent {
    height: auto;
    width: fit-content;
    max-width: 75%;
    padding: 5px;
    margin: 10px;

    color: black;
    background-color: #ede1b1;
    align-self: flex-end;
    border-radius: 20px;
  }

  .message-received {
    height: auto;
    width: fit-content;
    max-width: 75%;
    padding: 5px;
    margin: 10px;
    
    color: black;
    background-color: #ede1b1;
    align-self: flex-start;
    border-radius: 20px;
  }

  .input-group {
    border-top: 1px solid #ddd;
  }

  /*MENU*/
  #chat-tool {
    background-color: var(--blue);
  }

  .login-button {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--yellow);
    width: 100%;
    height: 45px;
    border-radius: 10px;
}



